<%- include('../partials/header') %>
    <div class="container mt-5">

        <% if (typeof error !=='undefined' ) {%>
            <div class="alert alert-danger">
                <%= error.errors[0].message %>
            </div>
            <% } %>

                <form method="POST" action="/api/usergames/history">
                    <input type="hidden" name="userId" value="<%= userGames.id %>">
                    <div>
                        <label for="game_name">Game Name</label>
                        <input type="text" name="game_name" placeholder="Input game name" class="form-control">
                        <label for="time_played">Time Played</label>
                        <input type="text" name="time_played" placeholder="Input time play" class="form-control">
                        <label for="score">Score</label>
                        <input type="number" name="score" placeholder="Input score" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                </form>

    </div>



    <%- include('../partials/footer') %>